<div class="beers-partials">
    <div class="content-galery">
        <div class="img-beers">
            <img src="{{this.image_url}}" class="galery-beers" alt="Beers a lot"/>
        </div>        
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p> 
        <h4>{{this.tagline}}</h4>
       
    </div>
    
</div>
